ALTER TABLE task_comments ADD COLUMN IF NOT EXISTS message_type VARCHAR(20) DEFAULT 'text';
ALTER TABLE task_comments ADD COLUMN IF NOT EXISTS audio_url TEXT;
ALTER TABLE task_comments ADD COLUMN IF NOT EXISTS audio_file_name TEXT;
ALTER TABLE task_comments ADD COLUMN IF NOT EXISTS audio_mime_type VARCHAR(100);
ALTER TABLE task_comments ADD COLUMN IF NOT EXISTS audio_duration_seconds INTEGER;

